# core deps
numpy
cython
scipy
torch
torchaudio
soundfile
librosa
numba
inflect==5.6.0
tqdm
anyascii
pyyaml
fsspec>=2021.04.0
aiohttp
packaging
# deps for examples
flask
# deps for inference
pysbd
# deps for notebooks
umap-learn==0.5.1
pandas
# deps for training
matplotlib
# coqui stack
trainer
# config management
coqpit>=0.0.16
# chinese g2p deps
jieba
pypinyin
# gruut+supported langs
gruut[de,es,fr]==2.2.3
# deps for korean
jamo
nltk
g2pkk>=0.1.1
# deps for bangla
bangla==0.0.2
bnnumerizer
bnunicodenormalizer==0.1.1
#deps for tortoise
k_diffusion
einops
transformers
#deps for bark
encodec
